body {
      
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: white;
  background: rgba(183,222,237,1);
background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(157,215,235,1) 9%, rgba(33,180,226,1) 51%, rgba(113,206,239,1) 81%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(9%, rgba(157,215,235,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(81%, rgba(113,206,239,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(157,215,235,1) 9%, rgba(33,180,226,1) 51%, rgba(113,206,239,1) 81%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(157,215,235,1) 9%, rgba(33,180,226,1) 51%, rgba(113,206,239,1) 81%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(157,215,235,1) 9%, rgba(33,180,226,1) 51%, rgba(113,206,239,1) 81%, rgba(183,222,237,1) 100%);
background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(157,215,235,1) 9%, rgba(33,180,226,1) 51%, rgba(113,206,239,1) 81%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
  }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
